*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: inter;
}

html{
    overflow-y: visible !important;
}

ul{
    list-style: none;
    text-decoration: none;
}

input:focus-visible{
    outline: none;
}